{% extends 'base.html' %}
{% block title %} Upload {% endblock title %}

{% block body %}

<div style="margin-left:30px">
    <form action="/upload" method="post">

        {% csrf_token %}
        <fieldset>
            <label for="question"> Question </label>
            <div>

                <textarea id="question" name="question" rows="5"
                          style="width:90%; padding:10px; margin:10px;"> </textarea>
            </div>
            <label for="code"> Code </label>
            <div>

                <textarea id="code" name="code" rows="20"
                          style="width:90%; padding:10px; margin:10px;"> </textarea>
            </div>

            <button type="submit" class="btn btn-primary">Submit</button>
        </fieldset>

    </form>
</div>

{% endblock body %}